<nav class="shadow py-8 px-32 max-sm:px-6">
  <div class="mx-auto flex justify-between items-center">
    <a href="#">
      <img src="/img/logo.png" alt="test" />
    </a>
    <ul class="flex space-x-10">
      <li>
        <a href="#">
          <img src="/img/notification.png" class="mt-1" alt="test" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/img/user.png" alt="test" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/img/menu.png" alt="test" />
        </a>
      </li>
    </ul>
  </div>
</nav>
